
# Project 2
2_Laser_Defender/Laser Defender/Library/*
2_Laser_Defender/Laser Defender/Temp/*

# Project 3
3_Glitch_Garden/Glitch Garden/Library/*
3_Glitch_Garden/Glitch Garden/Temp/*

# Project 4
4_Tile_Vania/Tile Vania/Library/*
4_Tile_Vania/Tile Vania/Temp/*
4_Tile_Vania/Tile Vania/Assets/Sprites/*
4_Tile_Vania/Tile Vania/Assets/Tiles/*





